<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
    {% include "base/header.html" %}
    <main>
      <div class="card mb-4">
        <div class="card-body">
            <form id="formu2">
          <label for="nombre">Nombre del Cliente:</label><br>
          <input type="text" id="nombre" name="nombre"><br><br>

          <label for="contraseña">Contraseña:</label><br>
          <input type="password" id="contraseña" name="contraseña"><br><br>

          <button type="submit"> Iniciar </button>
          <h> ¿No tienes cuenta? <a href="{% url "registro" %}"> Registrate </a></h>
        </form>

  </main>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script>
      document.getElementById('formu2').addEventListener('submit', function(event) {
          event.preventDefault();

          var nombre = document.getElementById("nombre").value;
          var contraseña = document.getElementById("contraseña").value;

          if (nombre === "") {
              alert("ingresar un Nombre");
              return;
          }

          if (contraseña === "") {
              alert("Falta Contraseña");
              return;
          }

          alert("Inicio Exitoso");
          event.target.submit();
      });
  </script>
</body>
</html>