<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body background="{% static "img/purpura.png" %}">
    {% include "base/header.html" %}
    <main>
        <!--inicio-->
        <div class="row row-cols-2 row-cols-md-6 g-6">

        {%if mesas%}
        {%for me in mesas%}
          <div class="col">
            <div class="card text-bg-light mb-3" style="max-width: 20rem;">
                    <img src="{% static "img/" %}{{me.imagen}}" class="card-img-top" alt="..."width="200" height="200">
                    <div class="card-header">Mesas</div>
                    <div class="card-body">
                    <h5 class="card-title">{{me.nombre}}</h5>
                    <p class="card-text">{{me.descripcion}}.</p>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{me.id_mesas}}">Mas Detalles</a>
                </div>
            </div> 
          </div>
          

        
        <!--FIN-->
        <!-- Modal 2 -->
        <div class="modal fade" id="{{me.id_mesas}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Comprar mesa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h1 class="h1 text-center pb-3">{{me.nombre}}</h1>
              <img
                src="{% static "img/" %}{{me.imagen}}"
                alt=""
                class="img-fluid rounded-2"
                width="500" height="500"
              />
              <div class="row p-5 fs-4">
                <ul>
                  <li>Cantidad:{{me.cantidad}}</li>
                  <li>Medida: 80cm </li>
                  <li>Precio: ${{me.precio}} c/u</li>
                </ul>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a class="btn btn-primary" href="{% url "compra" %}" role="button">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div> 
        
        <!--fin del modal-->
    </main>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>